{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/board.css">
    <script src="/static/js/script.js" defer></script>
{% endblock %}

{% block body %}
    <h1>GAME</h1>
    <div id="game-board">

        {% for i in range(3) %}
            <div class="container">
                <div class="drop-zone">
                    {% if i == 0 %}
                        {% for j in range( disk_count ) %}
                                <div class="disk draggable" id="div{{ j }}" style="margin: 1px {{ (disk_count-j)*5 }}%"></div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}