{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/board.css">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h1>Hanoi Tower</h1>
    <div id="game-board">
        {% for i in range(3) %}

            <div class="tower" data="{{ i }}">
                {% if i == 0 %}
                    {% for j in range(disk_count) %}
                        <div class="disk" draggable="true" id="div{{ j }}"
                             style="margin: 1px {{ 40 - j * 8 }}%"></div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="counter">
        <div>
            <label for="counter">Step Counter:</label>
        </div>

        <div>
            <p id="counter">0</p>
        </div>

    </div>
{% endblock %}