{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/board.css">
{% endblock %}

{% block body %}
    <h1>GAME</h1>
    <div id="game-board">

        <div class="tower">
            <div class="drop-zone"></div>
            <div class="fill"></div>
            <div class="disk"></div>
            <div class="disk"></div>
            <div class="disk"></div>
            <div class="disk"></div>
            <div class="disk"></div>
        </div>

        <div class="tower">
            <div class="drop-zone"></div>
            <div class="fill"></div>
        </div>

        <div class="tower">
            <div class="drop-zone"></div>
            <div class="fill"></div>
        </div>
    </div>
{% endblock %}