{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
{% endblock %}

{% block body %}
    <h1>Hanoi Tower</h1>
    <div id="form-settings-div">
        <form id="form" method="POST">
            <div id="disk-count-div">
                <label for="disk-count">Disc number:</label>
                <input name="disk-count" type="number" min="1" max="6" value="3">
            </div>

            <div id="submit-button-div">
                <button id="submit-button" value="Submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}